name: Upload complete repo to a SFTP destination

on: 
	push:
		branches:[main]
	workflow_dispatch:

jobs:
  Upload-to-SFTP:
    runs-on: ubuntu-latest
    steps:
      - name: Get latest code                     	# Checkout the latest code
        uses: actions/checkout@v2

      - name: SFTP uploader                       # Upload to SFTP 
        uses: wangyucode/sftp-upload-action@v1.4.8
        with:
		  username:root	
          server: ${{ secrets.DEV_HOST }}                  # Recommended to put the credentials in github secrets.
		  port:22
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          forceUpload: true                          # Optional, Force uploading all files, Default to false(upload only newer files).
          localDir: './*'                            # Required, Absolute or relative to cwd.
          remoteDir: '/var/www/html/'                # Required, Absolute path only.
          exclude: '.git*,.DS_Store'                 # Optional. exclude patterns (glob), use ',' to split, Default to ''.
